@use '../utilities/mixins' as mx;
@use "sass:math";

$bg-color: tomato;

body {
  background-color: $bg-color;
  display: flex;
  
}

p {
  background-color: blue;
  line-height:math.div(9, 3);
  @include mx.point('mini') {
    background-color: red;
  }
}
